apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: binary-container-prebuild-0-1  # dot is not allowed in the name
spec:
  description: >-
    OSBS prebuild task for building binary container image
  params:
    - name: osbs-image
      description: The location of the OSBS builder image (FQDN pullspec)
      type: string
    - name: pipeline-run-name
      type: string
      description: PipelineRun name to reference current PipelineRun
    - name: user-params
      type: string
      description: User parameters in JSON format

  workspaces:
    - name: ws-build-dir
    - name: ws-context-dir
    - name: ws-home-dir
    - name: ws-registries-secret  # access with $(workspaces.ws-registries-secret.path)/token
    - name: ws-koji-secret  # access with $(workspaces.ws-koji-secret.path)/token
    - name: ws-reactor-config-map

  stepTemplate:
    env:
      - name: HOME
        value: $(workspaces.ws-home-dir.path)

  steps:
    - name: binary-container-prebuild
      image: $(params.osbs-image)
      workingDir: $(workspaces.ws-home-dir.path)
      resources:
        requests:
          memory: 300Mi
          cpu: 250m
        limits:
          memory: 600Mi
          cpu: 395m
      script: >
        atomic-reactor -v task
        --user-params='$(params.user-params)'
        --build-dir=$(workspaces.ws-build-dir.path)
        --context-dir=$(workspaces.ws-context-dir.path)
        --config-file=$(workspaces.ws-reactor-config-map.path)/config.yaml
        --namespace=$(context.taskRun.namespace)
        --pipeline-run-name="$(params.pipeline-run-name)"
        binary-container-prebuild
