include LICENSE
include README.md
include requirements.txt
include requirements-py2.txt
include docs/*.md
include docs/manpage/atomic-reactor.1
recursive-include images *
recursive-include tests *.py
recursive-include tests/files *
include tests/requirements.txt
