backoff
dockerfile-parse>=0.0.13
flatpak-module-tools >= 0.11,!=0.13,<=0.13.1;python_version<"3.9"
flatpak-module-tools >= 0.11;python_version>="3.9"
jsonschema
paramiko>=2.10.1
PyYAML
ruamel.yaml
git+https://github.com/hjmodi/osbs-client@3f7d01a97da87f7792c5e35a74b3c690eddee82b#egg=osbs-client
# cannot build cryptography with rust for version >= 3.5
cryptography < 3.5
requests
koji
PyGObject
reflink
