backoff
dockerfile-parse>=0.0.13
flatpak-module-tools>=0.14
jsonschema
paramiko>=2.10.1
PyYAML
ruamel.yaml
git+https://github.com/containerbuildsystem/osbs-client@7a0a7f17701f082ee01d202e8f8177d7aba637e2#egg=osbs-client
# cannot build cryptography with rust for version >= 3.5
cryptography < 3.5
requests
koji
PyGObject
reflink
