backoff
dockerfile-parse>=0.0.13
flatpak-module-tools >= 0.11,!=0.13,<=0.13.1;python_version<"3.9"
flatpak-module-tools >= 0.11;python_version>="3.9"
jsonschema
paramiko>=2.10.1
PyYAML
ruamel.yaml
git+https://github.com/containerbuildsystem/osbs-client@3d68328c5c906b4b54805694ae5ed9f2d6abd2fd#egg=osbs-client
# cannot build cryptography with rust for version >= 3.5
cryptography < 3.5
requests
koji
PyGObject
reflink
