name: Linters

on:
  pull_request:

  push:
    branches:
      - master
      - release_*

jobs:
  bandit:
    name: Bandit analyzer for Python ${{ matrix.os.python }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        os:
          - name: fedora
            version: 35
            python: 3
            engine: docker

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - run: ./test.sh
        env:
          OS: ${{ matrix.os.name }}
          OS_VERSION: ${{ matrix.os.version }}
          PYTHON_VERSION: ${{ matrix.os.python }}
          ENGINE: ${{ matrix.os.engine }}
          ACTION: bandit

  flake8:
    name: Flake8 for Python 3
    runs-on: ubuntu-latest

    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Run flake8 for Python 3
        uses: containerbuildsystem/actions/flake8@master

  markdownlint:
    name: Markdownlint
    runs-on: ubuntu-latest

    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Run markdownlint
        uses: DavidAnson/markdownlint-cli2-action@v19

  mypy:
    name: mypy
    runs-on: ubuntu-latest

    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Run mypy
        uses: containerbuildsystem/actions/mypy@master
        with:
          package: 'atomic_reactor'

  pylint:
    name: Pylint analyzer for Python ${{ matrix.os.python }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        os:
          - name: fedora
            version: 35
            python: 3
            engine: docker

    steps:
      - uses: actions/checkout@v4

      - run: ./test.sh
        env:
          OS: ${{ matrix.os.name }}
          OS_VERSION: ${{ matrix.os.version }}
          PYTHON_VERSION: ${{ matrix.os.python }}
          ENGINE: ${{ matrix.os.engine }}
          ACTION: pylint

  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest

    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Run ShellCheck
        uses: containerbuildsystem/actions/shellcheck@master

  tekton-lint:
    name: tekton-lint
    runs-on: ubuntu-latest

    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Run tekton-lint
        uses: containerbuildsystem/actions/tekton-lint@master
        with:
          path: 'tekton/**/*.yaml'
